body {
  font-family: "Helvetica", sans-serif;
  background-color: #0505fa; 
  color: white;
}

.title {
  display: block;
  position: relative;
  margin: auto;
  top: 150px;
  width: 50%;
  text-align: center; 
  h2 {
    font-size: 500%;
    font-weight: 100;
    letter-spacing: 2px; 
    }
  a {
    text-decoration: none;
    word-spacing: 8px;
    color: white;
    }
  a:hover {
    color: #0505fa;
    text-shadow: 0px 0px 50px red; 
    cursor: pointer;
    }
  }